<div style="text-align: center;">
	<h1>Convert Number to Words</h1>
	<div>
		<%= form_tag :action=> "convert_to_words" %>
				<label>Input example: </label>
				<%= text_field_tag :input_value %></br></br>
				<label><%= submit_tag("Convert", class: "btn btn-primary", style: "width: 15%, margin-right: 0%;") %></br></label>
		</form>
	</div>
</div>