<div class="container">
  <div id ="calculator">
    <%= link_to "Click to use calculator app", calculator_path %>
  </div>
  <div id ="conversion_wrapper">
    <%= link_to "Click to use conversion app", conversion_path %>
  </div>
</div>