<div style="text-align: center;">
	<h1>Calculator</h1>
	<div>
		<%= form_tag :action=> "evaluate_expression" %>
			<label>Input example: </label>
			<%= text_field_tag :input_value %></br></br>
			<label><%= submit_tag("Calculate", class: "btn btn-primary submit-btn") %></br></label>
		</form>
	</div>
</div>